#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  
  background-color: #1E213A;
}
.container2{
  
  background-color: #100E1D;
}


.btn {
  color: white;
  background-color: #6E707A;
  /* Color de fondo */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: lowercase;
}

.btn::first-letter {
  text-transform: uppercase;
  /* Primera letra en mayúscula */
}


.background-div {

  background-image: url('./assets/Cloud.png');
  /* Ruta de la imagen */
  background-size: cover;
  background-position: center;

}

.text {
  color: white;

  width: 192px;
  height: 169px;
  top: 512px;
  left: 124px;
  font-size: 50px;
  display: contents;
  align-items: center;
  align-content: center;

}

.text1 {
  font-size: 30px;
  width: 129px;
  height: 42px;
  top: 768px;
  left: 75px;
  background-color: #1E213A;
  color: white;
  display: contents;
  align-items: center;
  align-content: center;
}
.btn-circle{
  width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: grey;
      border: none;
}
