#root {
  max-width: 100%;
  
  text-align: center;
  
}

.card {
  padding: 2em;
}


.container {
  
  background-color: #1E213A;
}
.container2{
  
  background-color: #100E1D;
}


.btn {
  color: white;
  background-color: #6E707A;
  /* Color de fondo */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: lowercase;
}

.btn::first-letter {
  text-transform: uppercase;
  /* Primera letra en mayúscula */
}


.background-div {

  background-image: url('./assets/Cloud.png');
  /* Ruta de la imagen */
  background-size: cover;
  background-position: center;

}

.text {
  color: white;

  width: 192px;
  height: 169px;
  top: 512px;
  left: 124px;
  font-size: 50px;
  display: contents;
  align-items: center;
  align-content: center;

}

.text1 {
  font-size: 30px;
  width: 129px;
  height: 42px;
  top: 768px;
  left: 75px;
  background-color: #1E213A;
  color: white;
  display: contents;
  align-items: center;
  align-content: center;
}
.btn-circle{
  width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: grey;
      border: none;
}

/* Estilos por defecto */
.container2 {
  display: flex;
  flex-direction: column;
}

/* Consultas de medios */
@media (min-width: 768px) {
  .container2 {
    flex-direction: row;
  }
}
